*{
    margin: 0;
    padding: 0;
}
.navbar1{
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
    display: block;
}
.navtop1{
    display: flex;
    justify-content: space-around;
    position: relative;
}
.account{
    display: flex;
}
.reg p img{
    height: 10px;
    width: 10px;
}
.ac{
    margin-top: -23px;
}
.reg p a{
    text-decoration: none;
    color: black;
}
.cart1{
    display: flex;
}
.cart1 img{
    height: 32px;
    width: 32px;
    margin-left: 10px;
    margin-top: 5px;
}
.cart1 h6{
    margin-top: 20px;
}
.search1{
    display: flex;
    margin-top: 5px;
}
.btn-1 input:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
input{
    padding: 5px;
}
.eplaza-logo img{
    height: 80px;
    width: 80px;
}
.navbottom1 .navitem1 ul{
    display: flex;
    left: 500px;
    top: 50px;
    position: absolute;
}
li{
    list-style: none;
    padding: 5px 15px;
}
li a{
    text-decoration: none;
    color: black;
}
li a:hover{
    text-decoration: underline 2px blue;
}
