*{
    margin: 0;
    padding: 0;
}
.sidenav{
    position:fixed; 
    height: 100%; 
    width: 17%; 
    padding-right: 1%;
}
.sidenav_item li{
    list-style: none;
    margin-left: 2rem;
    transition: all 300ms ease;
    color: black;
    margin-top: 10px;
} 
.sidenav_item li:hover{
    margin-left: 3rem;
}
