<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Eplaza | Online shopping center</title>
  </head>
  <body>
    
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-dark px-5">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <h4 class="text-primary">ePlaza</h4>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link d-flex" aria-current="page" href="../view/index.html">
                            <h7 class="text-white">Home</h7>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle d-flex text-white" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <h7 class="text-white">Shops</h7>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/front-end/view/groceries.html">Groceries</a></li>
                            <li><a class="dropdown-item" href="/front-end/view/cosmetics.html">Cosmetics</a></li>
                            <li><a class="dropdown-item" href="/front-end/view/devices.html">Devices</a></li>
                            <li><a class="dropdown-item" href="/front-end/view/cloths.html">Cloths</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex">
                            <h7 class="text-white">Orders</h7>
                        </a>
                    </li>
                    <li class="nav-item hstack gap-3">
                        <a class="nav-link d-flex">
                            <h7 class="text-white">Delivery Address</h7>
                        </a>
                    </li>
                </ul>
                <form class="d-flex" style="margin-right: 2rem;" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search in Eplaza" aria-label="Search" />
                    <button class="btn btn-outline-success" type="submit">
                        Search
                    </button>
                </form>
                <div class="user-reg">
                    <a href="../view/signin.html"><button class="btn btn-outline-primary">Sign in</button></a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row1 d-flex my-3" style="justify-content: space-between;">
            <div class="card" style="width: 18rem;">
                <img src="../public/img/cosmetics/4-Dewy-Glow.jpg" class="card-img-top" alt="..." style="height: 15rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../public/img/cosmetics/59301153.webp" class="card-img-top" alt="..." style="height: 15rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../public/img/cosmetics/all-nighter-1440x1440.webp" class="card-img-top" alt="..." style="height: 15rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../public/img/cosmetics/Black-flip-packaging-for-single-makeup-brushes-box.jpg" class="card-img-top" alt="..." style="height: 15rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    
        <div class="row2 d-flex my-3" style="justify-content: space-between;">
            <div class="card" style="width: 18rem;">
                <img src="../public/img/cosmetics/enhanced-26762-1457351351-2.webp" class="card-img-top" alt="..." style="height: 15rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../public/img/cosmetics/f0e6c2a65895d8f016d7b50159a78d7d.jpg" class="card-img-top" alt="..." style="height: 15rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../public/img/cosmetics/fc36e7c8c888bdfe62c15b858a4fa70a--mac-peaches-blush-peach-blush.jpg" class="card-img-top" alt="..." style="height: 15rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../public/img/cosmetics/image.webp" class="card-img-top" alt="..." style="height: 15rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    
        <div class="row3 d-flex my-3" style="justify-content: space-between;">
            <div class="card" style="width: 18rem;">
                <img src="../public/img/cosmetics/MAC-Cosmetics-x-Barbie-Lipstick-Sweet-Single.webp" class="card-img-top" alt="..." style="height: 15rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../public/img/cosmetics/rs_640x640-210512180442-640.ecomm-Unique-Beauty-Products-16.webp" class="card-img-top" alt="..." style="height: 15rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../public/img/cosmetics/travel-beauty-products-282061-1566574775504-product.700x0c.jpg" class="card-img-top" alt="..." style="height: 15rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../public/img/cosmetics/Wholesale-Price-Cheap-Durable-Cosmetics-Private-Label-Pink-Single-Makeup-Brush.jpg" class="card-img-top" alt="..." style="height: 15rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <!-- footer -->
        <div class="my-5">

            <footer class="text-center text-lg-start text-white" style="background-color: #1c2331">
                <section class="d-flex justify-content-between p-4" style="background-color: #6351ce">
                    <div class="me-5">
                        <span>Get connected with us on social networks:</span>
                    </div>

                    <div>
                        <a href="" class="text-white me-4">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="" class="text-white me-4">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="" class="text-white me-4">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="" class="text-white me-4">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="" class="text-white me-4">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a href="" class="text-white me-4">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </section>

                <section class="">
                    <div class="container text-center text-md-start mt-5">
                        <div class="row mt-3">
                            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                                <h6 class="text-uppercase fw-bold">Company name</h6>
                                <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                    style="width: 60px; background-color: #7c4dff; height: 2px" />
                                <p>
                                    Here you can use rows and columns to organize your footer
                                    content. Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit.
                                </p>
                            </div>

                            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                                <h6 class="text-uppercase fw-bold">Products</h6>
                                <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                    style="width: 60px; background-color: #7c4dff; height: 2px" />
                                <p>
                                    <a href="#!" class="text-white">MDBootstrap</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-white">MDWordPress</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-white">BrandFlow</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-white">Bootstrap Angular</a>
                                </p>
                            </div>

                            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                                <h6 class="text-uppercase fw-bold">Useful links</h6>
                                <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                    style="width: 60px; background-color: #7c4dff; height: 2px" />
                                <p>
                                    <a href="#!" class="text-white">Your Account</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-white">Become an Affiliate</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-white">Shipping Rates</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-white">Help</a>
                                </p>
                            </div>
                            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                                <h6 class="text-uppercase fw-bold">Contact</h6>
                                <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                    style="width: 60px; background-color: #7c4dff; height: 2px" />
                                <p><i class="fas fa-home mr-3"></i> Dhaka, Bangladesh</p>
                                <p><i class="fas fa-envelope mr-3"></i> rifatrayhan2001@gmail.com</p>
                                <p><i class="fas fa-phone mr-3"></i> +880 1610 158095</p>
                                <p><i class="fas fa-print mr-3"></i> +880 1760 158095</p>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                    © 2023 Copyright:
                    <a class="text-white" href="https://facebook.com/rifatrrayhan">Rifat R Rayhan</a>
                </div>
            </footer>
        </div>

    </div>

    
    



    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>